{% extends "base.html.twig" %}

{% block title %}Pizza{% endblock %}

{% block body %}
    <table class="table mt-2" id="pizzas">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nazwa</th>
                <th>Składniki</th>
                <th>C.mała</th>
                <th>C.średnia</th>
                <th>C.duża</th>
                <th>Ostrość</th>
                <th class="sorter-false filter-false">Operacja</th>
            </tr>
        </thead>
        <tbody>
            {% for pizza in pizzas %}
                <tr>
                    <td><b>{{ pizza.id }}</b></td>
                    <td>{{ pizza.name }}</td>
                    <td>{{ pizza.description }}</td>
                    <td>{{ pizza.sprice }}</td>
                    <td>{{ pizza.mprice }}</td>
                    <td>{{ pizza.lprice }}</td>
                    <td class="pepper"> {{ pizza.papryczki }} </td>
                    <td>
                        <a href="/pizza/edit/{{ pizza.id }}/{{ pizza.groupid}}"><button type="button" class="btn btn-primary mb-1">Edytuj</button></a>
                        <button type="button" class="btn btn-danger delete-pizza" href="#" data-id="{{ pizza.id }}">Usuń</button>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block javascripts %}
<script src = "/js/main.js"></script>
{% endblock %}

